<div class="jumbotron">
  <h2>Serviço</h2>
  <p class="lead" align="justify">
    Plataforma que fornece serviço para auxiliar pessoas na localização de ponto de interesse (POIs).
    O serviço recebe uma coordenada X e uma coordenada Y, especificando um ponto de referência,
    bem como uma distância máxima (dmax) em metros.
    O serviço retorna todos os POIs da base de dados que estejam a uma distância
    menor ou igual a dmax a partir do ponto de referência.
  <p><a class="btn btn-lg btn-success" href="#/teste" role="button">Testar</a></p>
</div>
